<h1>
<%= @product.title%>
</h1>

<p>
  Description: <%= @product.description %>
</p>

<%= link_to 'Edit Product', edit_product_path(@product) %> |
<%= link_to 'Back to products listing', products_path %>
